<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.XMBT.bluetooth.le"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Iozzpkb9rfLCWys0zGdeT3zrgVCUDUkD" />

        <meta-data
            android:name="com.baidu.tts.API_KEY"
            android:value="0p8ppAFEqjSdGBaDGySeIKjB"/>
        <!-- 百度语音appid -->
        <meta-data
            android:name="com.baidu.tts.APP_ID"
            android:value="10019850"/>
        <!-- 百度语音secret_key-->
        <meta-data
            android:name="com.baidu.tts.SECRET_KEY"
            android:value="e7831b7f1b204824d26078e8ec0d571a"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.gbattery.DeviceActivity" />
        <activity android:name=".ble.DeviceScanActivity" />
        <activity android:name=".ui.gbattery.XM_Bt_Demo" />
        <activity android:name=".ble.Stalls_Activity" />
        <activity
            android:name=".ui.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.AddDeviceActivity" />
        <activity
            android:name=".ui.light.LightFunctionActivity" />
        <activity android:name=".ui.pbattery.BatteryActivity" />
        <activity android:name=".ui.start.EmergencyActivity" />
        <activity android:name=".ui.misc.LoginActivity" />
        <activity android:name=".ui.misc.RegisterActivity" />
        <activity android:name=".ui.misc.ForgetPassWordActivity" />
        <activity android:name=".ui.gbattery.YunCheActivity" />
        <activity android:name=".map.BaiduMapActivity" />
        <activity android:name=".ui.gbattery.AddYuncheActivity" />
        <activity
            android:name=".map.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="GPS导航"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote">
        </service>

        <service android:name=".ui.gbattery.DisplacementService"></service>
        <service android:name=".ui.gbattery.TestService"></service>

        <activity android:name=".map.TraceDemoActivity" />
        <activity android:name=".ui.gbattery.FortificationActivity" />
        <activity android:name=".ui.gbattery.WarnCenterActivity" />
        <activity android:name=".ui.gbattery.WarnCenterActivity2" />
        <activity android:name=".map.FenceActivity"/>
        <activity android:name=".ui.pbattery.TestActivity"/>
        <activity android:name=".ui.gbattery.AboutActivity"/>
        <activity android:name=".ui.gbattery.ChangePwdActivity"/>
        <activity android:name=".ui.main.QueryPwdActivity"/>
        <activity android:name=".ui.gbattery.RefreshActivity"/>
        <activity android:name=".ui.gbattery.ForumActivity"/>
        <activity android:name=".map.TraceActivity"/>


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="20937e406b7f1"/>
        <meta-data android:name="Mob-AppSecret" android:value="8f06c5112e66d1d7b0e75501b4cba260"/>


        <!-- 微信分享回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />


    </application>

</manifest>